nav .style-nav ul li .product-special::before {
  position: absolute;
  content: " ";
  border-bottom: 3px solid darkred;
  border-radius: 20px;
  margin-top: 1.5rem;
  width: 100%;
  transition: all 0.25s linear;
}
